<html>

<head>
    <title>BodyMail</title>
</head>

<body style="color: #000;">
    <div style="background-color: blue; color: #ffffff; text-align: center; padding: 3px; font-weight: 800;">NEWS
        Services - Notification</div>
    <div style="color: red; padding: 2px; font-weight: 600;">This is an automationcally generated email. Please do not
        reply this message</div>
    <hr>
    <div>
        <h3>
            <%= msg %>
        </h3>
        <div style="display: flex; padding: 5px;">
            <div style="width: 120px;"><b>NEWS ID</b></div>
            <div>
                <%= news.id %>
            </div>
        </div>
        <div style="display: flex; padding: 5px;">
            <div style="width: 120px;"><b>NEWS TITLE</b></div>
            <div>
                <%= news.title %>
            </div>
        </div>
        <div style="display: flex; padding: 5px;">
            <div style="width: 120px;"><b>NEWS CONTENT</b></div>
            <div>
                <%= news.content %>
            </div>
        </div>
        <div style="display: flex; padding: 5px;">
            <div style="width: 120px;"><b>NEWS IMAGE</b></div>
            <img src="<%= news.image %>" alt="image news" width="50%" />
        </div>
    </div>
    <hr>
    <div style="color: red; padding: 2px; font-weight: 600;">This is an automated notification sent by NEWS Services
    </div>
    <div style="background-color: blue; font-weight: 400; color: #ffffff; font-size: .6rem; padding: 2px;">
        <div style="text-align: start">NEWS Services</div>
        <div style="text-align: end">@2013 hrl ... ...</div>
    </div>
</body>

</html>